[package]
name = "runner"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.101"
reedline = "0.45.0"
wasmtime = { version = "41.0.3", features = ["component-model"] }
wasmtime-wasi = "41.0.3"
# rustix = { version = "1.1.3", features = ["process"] }
